@import 'hamburguer.css';

body#simulator {
    position: relative;
}

.main-simulator {
    width: 100%;
    height: 100vh;
    background-color:  #1E2446;
    background-image: url('../images/foto-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-simulator {
    padding: 70px 0 90px 0;
}

.header-simulator {
    position: relative;
}
.hamburger {
    right: 0!important;
    top: 18px;
    z-index: 9999;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #fff;
    width: 20px;
    height: 2px;
}
.hamburger-inner:before {
    top: -7px
}
.hamburger-inner:after {
    bottom: -7px
}
.hamburger--collapse > .hamburger-inner{
    background-color: #1E2447;
    
}
.title-simulator {
    text-align: left;
    color: #fff;
    font-size: 27px;
    line-height: 34px;
    font-weight: 100;
}

.line-divisor {
	height: 2px;
	width: 145px;
    background: #45BBCA;
    display: block;
    margin: 30px 0;
}

.text-info-simulator {
    color: #DEDFE8;
    font-family: "Open Sans";
    font-size: 14px;
	line-height: 30px;
}

.btn-close-sidebar {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.navbar-toggle {
border: none;
background: transparent !important;
}
.navbar-toggle:hover {
background: transparent !important;
}
.navbar-toggle .icon-bar {
width: 22px;
transition: all 0.2s;
}
.navbar-toggle .top-bar {
transform: rotate(45deg);
transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
opacity: 0;
}
.navbar-toggle .bottom-bar {
transform: rotate(-45deg);
transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
transform: rotate(0);
}

.other-solutions {
    background: #fff;
}
.other-solutions h3 {
    color: #1E2447;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}
.other-solutions p {
    color: #A3A2A4;
    font-size: 14px;
    line-height: 16px;
}

.machine-feature h5 {
    color: #888888;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
}
.machine-feature span {
    color: #45BBCA;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}
.angle-feature {
    font-size: 34px!important;
    color: #A3A2A4;
}

.list-features {
    list-style: none;
    margin-top: 20px;
}
.list-features li {
    color: #A3A2A4;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 25px;
}
.list-features li span {
    float: left;
    color: #1E2446;
    font-size: 18px;
}
.list-features li p {
    float: left;
    margin-left: 25px;
} 

[aria-expanded="false"] {
    transform: rotate(0deg);
}
[aria-expanded="true"] i {
    transform: rotate(180deg);
}



#total_vendas {
    height: 50px;
    color: #A3A2A4;
    font-size: 20px;
    line-height: 25px;
    border-color: #DCDCDC;
    background-color: #fff;
    border-radius: 3px;
}
#voce_recebe {
    height: 50px;
    color: #888888;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    background-color: #F5F5F5;
    border-radius: 3px;
}

.simulator-tabs {
    border: 1px solid #DCDCDC!important;
    border-radius: 22px!important;
    padding: 2px 3px 3px;
}
.simulator-tabs #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: #484549!important;
    font-family: "Open Sans";
    font-size: 12px!important;
    line-height: 1.5!important;
    border: 0!important;
    font-weight: 400!important;
    border-radius: 20px;
    height: 18px;
    width: 100%;
    display: block;
    padding: 0 30px;
}
.nav-tabs .nav-link.active {
    color: #fff!important;
    background-color: #45BBCA;
    border-bottom: 0!important;
    font-weight: 700!important;
}

.card-simulator {
    width:  340px;
    border: 0;
}
.card-simulator .card-body {
    padding: .85rem;
}

.card-simulator small {
    color: #A4A2A2;
    font-size: 10px;
    line-height: 12px;
    display: block;
    margin-top: 3px;
}

.card-simulator .card-footer .btn-simulator {
    height: 60px;
    border-radius: 0 0 4px 4px;
    background-color: #45BBCA;
    border-color: #45BBCA;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.19);
    font-size: 14px;
}
.card-simulator .card-footer .btn-simulator:hover,
.card-simulator .card-footer .btn-simulator:focus,
.card-simulator .card-footer .btn-simulator:active,
.btn-simulator:not(:disabled):not(.disabled).active:focus, .btn-simulator:not(:disabled):not(.disabled):active:focus, .show>.btn-simulator.dropdown-toggle:focus {
    background-color: rgb(60, 150, 161);
    border-color: rgb(60, 150, 161);
    box-shadow: none!important;
}

.btn-refact-simulator,
.btn-refact-simulator:hover,
.btn-refact-simulator:focus,
.btn-refact-simulator:active,
.btn-refact-simulator:not(:disabled):not(.disabled).active:focus, .btn-refact-simulator:not(:disabled):not(.disabled):active:focus, .show>.btn-refact-simulator.dropdown-toggle:focus {
    box-shadow: none!important;
    height: 60px;
    border-radius: 0 0 4px 4px;
    background-color: #C4AD6C;
    border-color: #C4AD6C;
    color: #1E2447;
    font-weight: 700;
    font-size: 16px;
    display: none;
}

.input-simulator {
    position: relative;
}
.input-simulator label {
    padding: 0;
    margin-bottom: 0;
    position: absolute;
    top: 5px;
    left: 7px;
    color: #A4A2A2;
    font-family: "Open Sans";
    font-size: 10px;
    line-height: 12px;
}
.input-simulator .form-control {
    height: 40px;
    font-size: 14px;
    padding: 18px 8px 0 5px;
    color: #45BBCA;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.input-simulator .form-control:focus {
    box-shadow: none;
}
.input-simulator .form-control[disabled] {
    font-family: "Open Sans";
    color: #A3A2A4;
    background-color: #F5F5F5;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.07);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #F5F5F5;
}
.title-col {
    color: #1E2447;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    margin-top: 0;
    padding-top:30px;
}
footer p {
    font-size: 12px;
    line-height: 16px;
}

footer .infos-footer h4 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
}
footer .infos-footer strong {
	color: #C4AD6C;
	font-size: 24px;
	font-weight: 700;
    
    display: block;
}
footer .infos-footer span {
	color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    display: block;
}
footer .infos-footer a {
    font-size: 13px;
    line-height: 1;
    display: block;
    color: #C4AD6C;
}
footer .infos-footer a + a,
footer .infos-footer a:last-child {
    text-decoration: underline;
}
footer .infos-footer a + a:hover,
footer .infos-footer a:last-child:hover {
    text-decoration: underline;
}
footer .infos-footer a:hover {
    text-decoration: none;
}

.logo-institucional {
    margin-top: -45px;
}


.wrapper-sidebar {
    height: 690px;
    display: flex;
    align-items: stretch;
    padding: 0;
}

.btn-collapse-top {
    color: #1E2447;
}

#sidebar {
    width: 455px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -455px;
    height: 100vh;
    z-index: 999;
    background: #F5F5F5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: hidden;
}

.box-solutions {
    width: 370px;
    height: 600px;
    align-items: center;
    display: flex;
}
.box-solutions .box-machine h2 {
    color: #1E2447;
    font-size: 30px;
    font-weight: 100;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 55px;
}
.box-solutions .box-machine {
    width: 100%;
    height: 535px;
    margin-top: 200px;
    overflow-y: scroll;
}
.box-solutions .box-machine p strong {
    color: #1E2446;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 15px;
    display: block;
}
.box-solutions .box-machine p span {
    color: #45BBCA;
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.box-solutions p span i {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
}
.box-solutions .box-machine .btn-safrapay {
    background-color: #45BBCA;
    border-color: #45BBCA;
    border-radius: 4px;
    width: 90%;
    height: 60px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
}
.box-solutions .box-machine p {
	color: #9B9B9B;
	font-size: 12px;
	line-height: 18px;
    text-align: center;
    margin: 0 auto;
}
.box-solutions .box-machine .btn-diferenciais,
.box-solutions .box-machine .btn-diferenciais:hover,
.box-solutions .box-machine .btn-diferenciais:focus,
.box-solutions .box-machine .btn-diferenciais:active {
    height: 20px;
    width: 120px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #45BBCA;
    font-size: 12px;
    line-height: 0;
    margin-top: 25px;
    background-color: transparent;
    box-shadow: none;
}

.list-benefy li {
    margin-bottom: 30px;
}
.list-benefy li p span {
    color: #1E2446!important;
    font-size: 12px!important;
    line-height: 12px!important;
    text-align: center!important;
    font-weight: 400!important;
}

.box-alert {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.13);
    border: 1px solid #DCDCDC;
    padding: 10px;
    margin-bottom: 10px;
    
}
#boxAlert {
    display: none;
}
.box-alert span {
    color: #C32A1F;
}
.box-alert p{
    color: #A3A2A4;
    font-size: 14px;
    line-height: 18px;
    padding-left: 15px;
    margin-bottom: 0;
}

#style-1::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 2px;
	background-color: #DCDCDC;
}

#style-1::-webkit-scrollbar
{
	width: 2px;
	background-color: #DCDCDC;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #1E2447;
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper-simulator {
        padding: 0;
    }
    .header-simulator {
        height: 345px;
        text-align: center;
        background-image: linear-gradient(#1E2446, #3F4B7C);
    }
    .main-simulator {
        background-color: #F5F5F5!important;
        background-image: none;
        /* height: auto; */
    }
    .col-simulator-mobile {
        margin-left: auto;
        margin-right: auto;
        left: 0!important;
    }
    #sidebar.active {
        right: -455px;
    }
    .card-simulator {
        margin-top: -120px;
        width: 100%;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.13);
        border-radius: 4px;
        border: 0;
    }
    .card-simulator .card-body {
        padding: .75rem;
    }
    .title-simulator {
        font-size: 23px;
        font-weight: 100;
        text-align: center;
    }
    .text-info-simulator {
        color: #fff;
        font-family: "Open Sans";
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    .input-simulator {
        position: relative;
    }
    .input-simulator label {
        padding: 0;
        position: absolute;
        top: 3px;
        left: 7px;
        color: #A4A2A2;
        font-family: "Open Sans";
        font-size: 10px;
        line-height: 12px;
    }
    .input-simulator .form-control {
        font-size: 14px;
        padding: 30px 8px 12px;
        color: #45BBCA;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        border-radius: 3px;
        border: 1px solid #DCDCDC;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    }
    .input-simulator .form-control:focus {
        box-shadow: none;
    }
    .input-simulator .form-control[disabled] {
        font-family: "Open Sans";
        color: #A3A2A4;
        background-color: #F5F5F5;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.07);
        border-radius: 3px;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid #F5F5F5;
    }

    .title-col {
        color: #1E2447;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    
    .fixed-btn {
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding: 0;
        position: fixed;
        bottom: 0;
        z-index: 999;
        display: none;
        border-radius: 0;
        background: #45BBCA;
        border-color: #45BBCA;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }
    
    small {
        color: #A4A2A2;
        font-size: 10px;
        line-height: 12px;
        display: block;
        margin-top: 3px;
    }
    .text-free-machine {
        color: #1E2447;
        font-size: 24px;
        font-weight: 100;
        line-height: 29px;
        text-align: center;
    }
    .description-free-machine {
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
    }

    .card-machine {
        border: 0;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.23);
        border-radius: 4px;
    }
    .card-machine + p {
        font-size: 10px;
        text-align: center;
        color: #A4A2A2;
    }
    .card-machine .card-body h3 {
        font-size: 24px;
        color: #1E2446;
        font-family: 'Open Sans';
        font-weight: 700;
    }
    .card-machine .card-body h3 > span + span {
        color: #45BBCA;
        font-weight: 700;
    }
    .card-machine .card-body h3 span {
        font-size: 14px;
    }
    .card-machine .card-body p {
        color: #9B9B9B;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }
    .card-machine .card-body .btn-outline {
        border: 0.5px solid #DCDCDC!important;
        border-radius: 10px;
        color: #45BBCA;
        font-size: 12px;
        line-height: 18px;
        padding: 1px 10px;
        height: 20px;
    }
    .card-machine .card-body .btn-outline span {
        float: left;
    }
    .card-machine .card-body .btn-outline:hover,
    .card-machine .card-body .btn-outline:focus,
    .card-machine .card-body .btn-outline:active,
    .card-machine .card-body .btn-outline:visited {
        background: #fff;
        color: #45BBCA;
        box-shadow: none!important;
    }
    
    .card-machine .card-body .btn-outline i {
        font-size: 18px;
        margin-left: 5px;
    }

    .card-machine .list-benefy {
        list-style: none;
    }
    .card-machine .list-benefy li span {
        color: #1E2446;
        font-size: 12px;
        text-align: center;
    }
    .card-machine .list-benefy li p {
        color: #9B9B9B;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }
    
    #titleSemBobinaGPRSMobile span + span {
        display: block;
        margin-top: 10px;
    }
    .machine-feature span i {
        color: #9B9B9B;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
    }

    footer .infos-footer {
        text-align: center;
    }
    footer .infos-footer strong {
        text-align: center;
    }
    footer .logo-institucional {
        margin: 0 auto;
        margin-top: 25px;
    }
}